* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*variables*/
/*pagina index*/
body {
  background-color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  body h4 {
    text-align: center;
    background-color: #000;
    color: #ffffff;
    text-decoration: none; }

.container {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr 0,3fr;
  grid-template-rows: 0,3fr;
  grid-template-areas: "logohospital tituloprincipal logohospital2";
  gap: 0px 0px;
  grid-auto-flow: row; }
  .container .tituloprincipal {
    padding-top: 2rem;
    text-align: center;
    background-color: #ffffff;
    font-size: 125%; }

.logohospital img {
  height: 126px;
  width: 120px; }

.logohospital2 {
  text-align: end; }
  .logohospital2 img {
    height: 126px;
    width: 120px; }

.Menuprincipal {
  background-color: black;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas: "menuprincipalfoto1 menuprincipaltitulo1" "menuprincipalfoto2 menuprincipaltitulo2" "menuprincipalfoto3 menuprincipaltitulo3" "menuprincipalfoto4 menuprincipaltitulo4"; }

.Menuprincipal img {
  width: 180px;
  height: 210px;
  border: 3px solid #ffffff; }

.Menuprincipal a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 6px;
  padding: 4rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem; }
  .Menuprincipal a:hover {
    background-color: #ffffff;
    color: black; }

footer {
  background-color: black;
  color: white;
  text-align: center; }

/*paginas de segundo y tercero*/
.Bodyresidentessegundo {
  background-color: #000; }

/* adaptaciones a dispositivos*/
@media (max-width: 1024px) {
  .Menuprincipal {
    display: flex;
    justify-items: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,8fr 0,8fr 0,8fr 0,8fr;
    gap: 0px 0px;
    grid-template-areas: "menuprincipalfoto1 menuprincipaltitulo1" "menuprincipalfoto2 menuprincipaltitulo2" "menuprincipalfoto3 menuprincipaltitulo3" "menuprincipalfoto4 menuprincipaltitulo4"; }
  .Menuprincipal img {
    width: 1fr;
    height: 1fr; }
  .Menuprincipal a {
    font-size: 150%; } }

@media only screen and (max-width: 764px) {
  /*modificaciones del index*/
  .container {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0,3fr;
    grid-template-areas: "logohospital tituloprincipal logohospital2";
    gap: 0px 0px;
    grid-auto-flow: row; }
    .container .tituloprincipal {
      font-size: 45%;
      text-align: center; }
    .container img {
      width: 30px;
      height: 40px; }
    .container .logohospital2 {
      display: flex;
      justify-content: end; }
  .Menuprincipal {
    display: flex;
    justify-items: center;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 2fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0,2fr 0,2fr;
    gap: 0px 0px;
    grid-template-areas: "menuprincipalfoto1" "menuprincipaltitulo1" "menuprincipalfoto2" "menuprincipaltitulo2" "menuprincipalfoto3" "menuprincipaltitulo3" "menuprincipalfoto4" "menuprincipaltitulo4"; }
  .menuprincipal img {
    width: auto;
    height: auto; }
  /*body del resto de las paginas con bootstrap*/
  .Bodyresidentessegundo {
    background-color: #000; } }
