*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*variables*/
$negro: #000;
$blanco: #ffffff;
$imagenmobileancho: 360px;
$imagenmobilealto: 75px;
$mobile: 764px;
$desktop: 1024px;
 


/*pagina index*/
body{
    background-color: $blanco;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    h4 {
        text-align: center;
        background-color: $negro;
        color: $blanco;
        text-decoration: none;
    }

    
}
   
.container{
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0,3fr;
    grid-template-rows: 0,3fr;
    grid-template-areas: 
    "logohospital tituloprincipal logohospital2";
    gap: 0px 0px;
   grid-auto-flow: row;
   .tituloprincipal {
        padding-top: 2rem;
        text-align: center;
        background-color: $blanco;
        font-size: 125%;
        &:hover{
        transform: scale(2,1); 
        }
    }
    .logohospital {
        img{
        height: 126px;
        width: 120px;
        }
        
    }
    .logohospital2 {
        text-align: end;
         img{
        height: 126px;
        width: 120px;
        }
    }

}


.Menuprincipal{
        background-color: black;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 0.3fr 1.7fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "menuprincipalfoto1 menuprincipaltitulo1"
          "menuprincipalfoto2 menuprincipaltitulo2"
          "menuprincipalfoto3 menuprincipaltitulo3"

}
.Menuprincipal {
    img{
        width: $imagenmobileancho/2;
        height: 210px;
        border: 3px solid $blanco;

    }
    a{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 6px;
        padding: 4rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-decoration: none;
        color: $blanco;
        font-size: 2rem;
        &:hover {
            background-color:   $blanco;
            color: black;
        }
    }
   
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}

/*Residentes de primer año*/

.mainr1 {
    background-color: black;
    color: white;
    display: flex;
    justify-items: center;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "mainr1rotaciones"
      "calendario "
}

.calendario {
    animation-duration: 2seg;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

.mainr12 {
    display: flex;
    justify-items: center;   
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr; 
    grid-template-rows: 0,2fr 1fr 0,8fr; 
    gap: 0px 0px; 
    grid-template-areas:
        "titulodemainr12 "
      "mainr1fotos"
      "Contenedormenu "


}

.mainr1fotos {
    display: flex;
    justify-items: flex-start;
    img{
        height: 145px;
        width: 125px;
        border: 2px solid white;
        transition: all 2s;
        &:hover {
            height: $imagenmobileancho/2;
            width: ($imagenmobileancho/2)-25;

        }
    }
    
   
}


.Contenedormenu{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;


    ul{
        display: flex;
        justify-content: start;
        background-color: black;
    }

    li{
    border: 2px solid white;
    text-decoration: none;

    }
    a{
    text-decoration: none;
    color:  $blanco;
        &:hover{
        color:  $negro;
        background-color: grey;
        }
    }

    
}
/*paginas de segundo y tercero*/
.Bodyresidentessegundo {
    background-color: $negro;
}

/* adaptaciones a dispositivos*/
@media screen and (max-width: $mobile) {
    /*modificaciones del index*/
.container{
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0,3fr;
    grid-template-rows: 0,3fr;
    grid-template-areas: 
    "logohospital tituloprincipal logohospital2";
    gap: 0px 0px;
   grid-auto-flow: row;
    
    .tituloprincipal{
    font-size: 25%;
    }

    img {
        display: flex;
        justify-content: center;
        width: 45%;
        height: 45%;
    }
 
}


    
    .Menuprincipal{
        display: flex;
        justify-items: center;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr; 
        grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "menuprincipalfoto1"
          "menuprincipaltitulo1"
          "menuprincipalfoto2"
          "menuprincipaltitulo2"
          "menuprincipalfoto3"
          "menuprincipaltitulo3"
    
      }
      
    .menuprincipal img{
        width: auto;
        height: auto;
        
    }
    
    /*r1 pagina*/
    .mainr1fotos {
        display: flex;
        justify-items: center;
        &:hover{
            border:2px solid #ffffff;
        }
       
    }
    .mainr1rotaciones{

        transform: scale(1.2,1);

    }
    
    
    .menupagina{
        transform: scale(1,1.1);
    }

    }


    @media screen and (min-width: 768px ) and (max-width: $desktop) {
              .Menuprincipal{
            display: flex;
            justify-items: center;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 2fr; 
            grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr; 
            gap: 0px 0px; 
            grid-template-areas: 
              "menuprincipalfoto1"
              "menuprincipaltitulo1"
              "menuprincipalfoto2"
              "menuprincipaltitulo2"
              "menuprincipalfoto3"
              "menuprincipaltitulo3"
        
          }
          
        .menuprincipal img{
            width: 75px;
            height: 95px;
            
        }
        
              }
    

.Bodyresidentessegundo {
    background-color: black;
}