*{
    margin: 0px;
    padding: 0px;
}
@import "../node_modules/bootstrap/scss/bootstrap";


/*pagina index*/
body {
    background-color: white;
}
.Menuprincipal{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/*header del index*/
.container {  
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0,3fr;
    grid-template-rows: 0,3fr;
    grid-template-areas: 
    "logohospital tituloprincipal logohospital2";
    gap: 0px 0px;
   grid-auto-flow: row;
   
  }
.tituloprincipal {
    padding-top: 2rem;
    text-align: center;
    background-color: white;
    font-size: 125%;
    
    
    
}
.container img{
    width: 120px;
    height: 126px;
    
}
.tituloprincipal:hover{
    transform: scale(2,1);
}
.logohospital2 {
    display: flex;
    justify-content: right;
}
/*main del index*/

.Menuprincipal{
        
        grid-template-areas: 
          "menuprincipalfoto1 menuprincipaltitulo1"
          "menuprincipalfoto2 menuprincipaltitulo2"
          "menuprincipalfoto3 menuprincipaltitulo3"
      }



.Menuprincipal a:hover{
    background-color: whitesmoke;
    color: black;
}
h4 {
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}


/*Residentes de primer año css*/

.mainr1 {
    background-color: black;
    color: white;
    display: flex;
    justify-items: center;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "mainr1rotaciones"
      "calendario "

}

.calendario {
    animation-duration: 2seg;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

.mainr12 {
    display: flex;
    justify-items: center;   
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr; 
    grid-template-rows: 0,2fr 1fr 0,8fr; 
    gap: 0px 0px; 
    grid-template-areas:
        "titulodemainr12 "
      "mainr1fotos"
      "Contenedormenu "


}

.mainr1fotos {
    display: flex;
    justify-items: flex-start;
   
}
.mainr1fotos img{
    height: 145px;
    width: 125px;
    border: 2px solid white;
    transition: all 2s;


}
.mainr1fotos img:hover {
    width: 250px;
    height: 220px;
}
.Contenedormenu ul{
    display: flex;
    justify-content: start;
    background-color: black;
}
.Contenedormenu li{
    border: 2px solid white;
    text-decoration: none;

}
.Contenedormenu a{
    text-decoration: none;
    color: white;
    
}
.Contenedormenu a:hover{
    color: black;
    background-color: grey;
    
}
.Contenedormenu {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}




/*media modificaciones*/
@media screen and (max-width: 768px) {
    /*modificaciones del index*/
.container{
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 0,3fr;
    grid-template-rows: 0,3fr;
    grid-template-areas: 
    "logohospital tituloprincipal logohospital2";
    gap: 0px 0px;
   grid-auto-flow: row;
   
  }
    
    
.tituloprincipal{
    font-size: 75%;
}

    

 .container img {
        display: flex;
        justify-content: center;
        width: 45%;
        height: 45%;
    }


    
    .Menuprincipal{
        display: flex;
        justify-items: center;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 2fr; 
        grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "menuprincipalfoto1"
          "menuprincipaltitulo1"
          "menuprincipalfoto2"
          "menuprincipaltitulo2"
          "menuprincipalfoto3"
          "menuprincipaltitulo3"
    
      }
      
    .menuprincipal img{
        width: auto;
        height: auto;
        
    }
    
    /*r1 pagina*/
    .mainr1rotaciones{

        transform: scale(1.2,1);

    }
    .calendario {
        transform: scale(1.2,1);
    }
    .menupagina{
        transform: scale(1,1.1);
    }

    }


    @media screen and (max-width: 1024px) {
      
    
        .Menuprincipal{
            display: flex;
            justify-items: center;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 2fr; 
            grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr; 
            gap: 0px 0px; 
            grid-template-areas: 
              "menuprincipalfoto1"
              "menuprincipaltitulo1"
              "menuprincipalfoto2"
              "menuprincipaltitulo2"
              "menuprincipalfoto3"
              "menuprincipaltitulo3"
        
          }
          
        .menuprincipal img{
            width: auto;
            height: auto;
            
        }
        
              }

.Bodyresidentessegundo {
    background-color: black;
}
    